
/* 
#home-page {
    display:;
} */

#job-details-screen {
    display: hide;
    margin: 5.5%;
}

#jobs-output-page {
    display: hide;
}

.home-page-inputs {
    margin: 5% 0;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
}

/* 
#nabvar-list {
} */

#nav-list-items {
    list-style-type: none;

}

.jobs-output {
    width: 45%;
    margin: 18% 38.5%;
}
#description-output {
    margin: 5%;
}

#job-details-list {
    margin: 6%;
    float: left;
}

#job-details-list li {
    list-style-type: none;
    float: left;
    margin: 0 5.5%;
}
#job-requirement-list {
    list-style-type:none;
    float: left;
}
